@model MvcApplication1.CombosViewModel

@{
    ViewBag.Title = "Cadastro de Reservas";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div data-ng-app="PagInicial">
    <div data-ng-controller="ReservasController">     

        <li>
            <output>Filial:</output>
            <select>
                @foreach (var filial in Model.filiais)
                {
                    <option id=@filial.id_filial value="nm_filial">@filial.nm_filial</option>
                    <!--More properties-->
                }
            </select>
        </li>
        <li>
            <output>Sala:</output>
            <select>
                @foreach (var sala in Model.salas)
                {
                    <option id=@sala.id_sala value="nm_sala">@sala.nm_sala</option>
                    <!--More properties-->
                }
            </select>
        </li>
        <li>
            <output>Data de início:</output>
            <input type="datetime-local" name="dt_inicio">
        </li>
        <li>
            <output>Data de encerramento:</output>
            <input type="datetime-local" name="dt_fim">
        </li>
        <li>
            <output>Responsável:</output>
            <select>
                @foreach (var responsavel in Model.responsaveis)
                {
                    <option id=@responsavel.id_responsavel value="nm_responsavel">@responsavel.nm_responsavel</option>
                    <!--More properties-->
                }
            </select>
        </li>
        <li>
            <output>Café?</output>
            <input type="checkbox" name="dv_cafe">
        </li>
        <li>
            <output>Quantidade:</output>
            <input type="number" name="qt_cafe">
        </li>
        <li>
            <output>Descrição:</output>
            <input type="text" name="descricao">
        </li>
        <form class="form-inline" name="cadReserva" align="center">
            <form>
                <div data-ng-app="PagInicial">
                    <div data-ng-controller="ReservasController">
                        <button data-ng-click="function1('AngularJS')">Call first function</button>
                    </div>
                </div>
            </form>
        </form>
    </div>
</div>
