@model MvcApplication1.ReservasTextoListaViewModel

@{
    ViewBag.Title = "Listagem de Reservas";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div ng-app="ListaReservas" ng-strict-di>
    <div ng-controller="ReservasController">

        <table>
            <thead>
                <tr>
                    <th>Filial</th>
                    <th>Sala</th>
                    <th>Data de início</th>
                    <th>Data de encerramento</th>
                    <th>Responsável</th>
                    <th>Descrição</th>
                    <!--More column headings-->
                </tr>
            </thead>
            <tbody>
                @foreach (var reserva in Model.reservas)
                {
                    <tr>
                        <td>@reserva.nm_filial</td>
                        <td>@reserva.nm_sala</td>
                        <td>@reserva.dt_inicio</td>
                        <td>@reserva.dt_fim</td>
                        <td>@reserva.nm_responsavel</td>
                        <td>@reserva.nm_descricao</td>
                        <!--More properties-->
                    </tr>
                }
            </tbody>
            <!--Add footer for totals-->
        </table>

        <style>
            table, th, td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }

                table tr:nth-child(odd) {
                    background-color: #f1f1f1;
                }

                table tr:nth-child(even) {
                    background-color: #ffffff;
                }
        </style>

        <form class="form-inline" name="cadReserva" align="center">
            <form>
                <input type="button"
                    value="Cadastrar Nova Reserva">
            </form>
        </form>
    </div>
</div>
